#mainField {
    position: relative;
    border: 3px outset #000;
}

#mainField div {
    position: absolute;
    /* border: 1px outset #F00; */
}

.opening {
    background-image: url(./picture/opening.png);
    background-position: center;
    background-size: cover;
}

.background {
    background-image: url(./picture/background.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.usingCard {
    /*background-image: url("");*/
    background-size: cover;
    object-fit: cover;
    position: relative;
    top: 5px;
    left: 5px;
    cursor: pointer;
}

.card {
    transform: scale(1.0); 
}

/* カードにカーソルを合わせたときに拡大する */
.card:hover {
    transform: scale(1.8);              /* 1.2倍に拡大 */
    transition: transform 0.2s ease;    /* スムーズなアニメーション */
    z-index: 1000;                      /* 他の要素より前面に表示 */
}

.hold {
    border: 2px solid #d61313;

    transform: scale(1.8);              /* 1.2倍に拡大 */
    transition: transform 0.2s ease;    /* スムーズなアニメーション */
    z-index: 2000;                      /* 他の要素より前面に表示 */ 
}

#HP_space_ill {
    background-image: url(./picture/HP_ill01.png);
    background-position: center;
    background-size: cover;
}

.enemy_HP_space_ill {
    background-image: url(./picture/HP_ill02.png);
    background-position: center;
    background-size: cover;
}

#HP_space {
    color: #ddd609;
}

.enemy_HP_space {
    color: #ddd313;
}

.card_space {
    background-color: #ccc;
    border: 1px solid #000;
    position: relative;
}

.type_1 {
    background-image: url(./picture/card01.png);
    background-position: center;
    background-size: cover;
}

.type_2 {
    background-image: url(./picture/card02.png);
    background-position: center;
    background-size: cover;
}

.type_3 {
    background-image: url(./picture/card03.png);
    background-position: center;
    background-size: cover;
}

.type_4 {
    background-image: url(./picture/card04.png);
    background-position: center;
    background-size: cover;
}

.type_5 {
    background-image: url(./picture/card05.png);
    background-position: center;
    background-size: cover;
}

.type_6 {
    background-image: url(./picture/card06.png);
    background-position: center;
    background-size: cover;
}

.enemy_type01 {
    background-image: url(./picture/enemy01.png);
    background-position: center;
    background-size: cover;
}

.enemy_type02 {
    background-image: url(./picture/enemy02.png);
    background-position: center;
    background-size: cover;
}

.enemy_type03-1 {
    background-image: url(./picture/enemy03-1.png);
    background-position: center;
    background-size: cover;
}

.enemy_type03-2 {
    background-image: url(./picture/enemy03-2.png);
    background-position: center;
    background-size: cover;
}

.enemy_type04 {
    background-image: url(./picture/enemy04.png);
    background-position: center;
    background-size: cover;
}

.enemy_type05 {
    background-image: url(./picture/enemy05.png);
    background-position: center;
    background-size: cover;
}

.enemy_type06-1 {
    background-image: url(./picture/enemy06-1.png);
    background-position: center;
    background-size: cover;
}

.enemy_type06-2 {
    background-image: url(./picture/enemy06-2.png);
    background-position: center;
    background-size: cover;
}

.enemy_type06-3 {
    background-image: url(./picture/enemy06-3.png);
    background-position: center;
    background-size: cover;
}

/* チュートリアルの背景画像 */
.tutorial_1 {
    background-image: url(./slid_ill/slid.png);
    background-position: center;
    background-size: cover;
}
.tutorial_2 {
    background-image: url(./slid_ill/slid02.png);
    background-position: center;
    background-size: cover;
}
.tutorial_3 {
    background-image: url(./slid_ill/slid03.png);
    background-position: center;
    background-size: cover;
}
.tutorial_4 {
    background-image: url(./slid_ill/slid04.png);
    background-position: center;
    background-size: cover;
}
.tutorial_5 {
    background-image: url(./slid_ill/slid05.png);
    background-position: center;
    background-size: cover;
}
.tutorial_6 {
    background-image: url(./slid_ill/slid06.png);
    background-position: center;
    background-size: cover;
}
.tutorial_7 {
    background-image: url(./slid_ill/slid07.png);
    background-position: center;
    background-size: cover;
}
.tutorial_8 {
    background-image: url(./slid_ill/slid08.png);
    background-position: center;
    background-size: cover;
}




/* お試し */
/* 画面全体を覆う黒いオーバーレイ */
#screenFade {
    position: fixed;
    border: 3px outset #000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    pointer-events: none; /* クリックを通す */
    transition: opacity 0.5s ease; /* フェード用 */
    z-index: 9999; /* 最前面に */
}